[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-sqlalchemy = "==3.0.5"
flask-migrate = "==4.0.5"
sqlalchemy-serializer = "==1.4.1"

[dev-packages]

[requires]
python_version = "3.8"
